/*------------------------------
    01. START FONT COLOR
------------------------------*/

body {
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6,
.section-title h3,
.why-us h3,
.main-features .one-feature h5,
.recent-news .recent-news-slider .item h3,
.download-app h2,
.git-in-touch .contact-info .info-box h5,
.git-in-touch .contact-info .info-box a,
.blog-page .blog-box .blog-details h3 a,
aside.sidebar .categories ul li a,
aside.sidebar .recent-post .post h4 a,
aside.sidebar .tags ul li a,
.single-blog-page .blog-box .blog-details h3 {
    color: #1D94C6;
}
.background-withcolor h1{
    color: #1D94C6;
    text-align: center;
    font-size: 70px;
    text-transform: uppercase;
}
.background-withcolor h5{
    color: #1E93C5;
    text-align: center;
    font-size: 80px;

}
/*------------------------------
    01. END FONT COLOR
------------------------------*/

/*------------------------------
    02. START MAIN COLOR
------------------------------*/
.themes-colors span,
.preloader,
.btn-theme.btn-colord:before,
.background-withcolor,
.header.sticky,
.header .dropdown-menu .dropdown-item:hover,
.header .dropdown-menu .dropdown-item.active,
.box,
.clients-testimonial .testimonial-slider .item .client-testimonial,
.clients-testimonial .testimonial-slider .slick-dots li.slick-active button,
.our-team li.slick-active button,
.recent-news .recent-news-slider .slick-dots li.slick-active button,
.faq .accordion .card .card-header h5 .btn.collapsed,
nav .pagination .page-item.active .page-link,
aside.sidebar .gray-panel h3:after {
    background-image: url('/discover-iasi/websites/img/a1.0.jpg');
    background-position: 0px 0px 0px 100px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 9em 0 1em 0; 
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

@media (max-width: 1000px) {
    .header {
        background-image: url('');
    }

    
}


a,
.btn-white,
.lnr,
.section-title h3 span,
.other-features .other-features-slider .item h4,
.clients-testimonial .testimonial-slider .item .client-info h3,
.fun-facts .fact-box h5,
.fun-facts .fact-box h6,
.our-team .team-slider .person h3,
footer .subscribe .subscribe-form h4,
.blog-page .blog-box:hover .blog-details h3 a,
.single-blog-page .blog-box .post-tag-area ul li a:hover,
.comments-container .comments-list li .reply:hover {
    color: #1D94C6;
}

.main-features .features-circle:before,
.clients-testimonial .testimonial-slider .item .client-info figure,
.faq .accordion,
.faq .accordion .card .card-header h5:after,
.git-in-touch .form-group .form-control,
footer .subscribe .subscribe-form .form-group .form-control,
aside.sidebar .search .form-group .form-control,
.single-blog-page .blog-box .blog-details blockquote,
.comments-form .form-group .form-control {
    border-color: #1D94C6;
}

.clients-testimonial .testimonial-slider .item .client-testimonial:after {
    border-top-color: #1D94C6;
}

.features-circle svg circle {
    stroke: #1D94C6;
}

.lity,

  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
  *, ::after, ::before {
    box-sizing: border-box;
  }
  user agent stylesheet
  div {
    display: block;
  }
  body {
    margin: 0;
    color: #fff;
    overflow-x: hidden;
    font-family: var(--body-font);
  }
  body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.5;
    color: #212529;
    text-align: left;
    background-color: #ffffff;
  }


/*------------------------------
    02. END MAIN COLOR
------------------------------*/
